 .person {
    border: 5px solid transparent;
    width: 200px;
}

 .person:hover {
    border: 5px solid rgba(0,0,0,.25);
    opacity: 0.7;
}

body {
        background-color: #aaaaaa;
}

.jumbotron {
    background-color: #aaaaaa;
    color: #ffffff;
}

.profile {
    background-color: #ffffff;
    color: #000000;
}

.logo-small {
    color: #aaaaaa;
    font-size: 25px;
}

.col-sm-4{
    padding: 5px;
}

.assignment:hover {
    background-color: #888888;
    color: #ffffff;
}

.container-fluid {
    background-color: #999999;
}

.row {
    margin-right: 0;
}

.time {
font-size: smaller;
color: dimgrey;
}