 /* Remove the navbar's default rounded borders and increase the bottom margin */ 
 .navbar {
  margin-bottom: 50px;
  border-radius: 0;
}

.cover {
  max-height: 200px;
  margin: auto;
}

.page-header {
  padding-bottom: 0px;
  margin: 0px;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right,black 100%,black 100%),url(cover.jpg);
  background-blend-mode: color-dodge;
  border: 0px;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.logo {
  width:50px;
}

.a:hover {
  background: #080808;
}

.NoMatch {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.panel-group {
  margin: 20px;
  padding: 10px;
}

.rightaligned {
  float: right;
}

.media-right {
  padding: 10px;
}

.media-body {
  vertical-align: middle;
}

#clientes-container, #productos-container, #ordenes-container {  
    padding: 5px;
    margin: 10px 0px;
}

.row {
  border-width: 1px;
  border-style: solid;
  padding: 15px;
  border-radius: 10px;
  margin: 2px;
  border-color: lightgray;
}

.col-sm-2 {
  text-align: center;
}